


@{
    ViewBag.Title = "Login";
    Layout ="~/Views/Shared/_UserMaster.cshtml" ;
   
}

    <form method="post" action="/Users/login" >

        <input type="text" name="Name" placeholder="Username" />
        <input type="password" name="Password" placeholder="Password" />
        <input type="submit" value="login" />

    </form>


